body {
    background: #333;
}

#slide-out {
    background: #eaeaea;
}

#header-logo {
    margin-left: 1em;
}

#first {
    margin-top: 2em;
}

.card-content {
    color: #333;
}

#showcase-image {
    opacity: 0.9;
    background-color: #333;
}

#known {
    width: 100%;
}

@media(max-width: 970px) {
    #header-logo {
        margin-left: 0;
    }
}
